@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: monospace;
    
    /* background-image: radial-gradient(circle, #051937, #061a3a, #061c3c, #071d3f, #081f42);
    background-image: linear-gradient(to right top, #0c1625, #001a25, #001c20, #001d17, #081d08); */
    /* background-image: linear-gradient(to right top, #0a314a, #2a4a61, #466479, #637f92, #819bac); */
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);  */
   }
   body{
    /* background: #0F2027;   */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */

   }

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
